'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle fonts'
      'command': 'fonts:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'fonts'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'fonts:toggle'
        }
      ]
    ]
  }
]
