.font(@font, @weight, @style, @path) {
  @font-face {
    font-family: @font;
    font-weight: @weight;
    font-style: @style;
    src: url('atom://fonts/resources/@{path}');
  }
}

.font ( 'agave', normal, normal, 'agave/agave-regular.woff2' );
.font ( 'Anka/Coder', normal, normal, 'anka-coder/anka-coder.woff2' );
.font ( 'Anka/Coder', normal, italic, 'anka-coder/anka-coder-italic.woff2' );
.font ( 'Anka/Coder', bold, normal, 'anka-coder/anka-coder-bold.woff2' );
.font ( 'Anka/Coder', bold, italic, 'anka-coder/anka-coder-bold-italic.woff2' );
.font ( 'Anonymous Pro', normal, normal, 'anonymous-pro/anonymous-pro.woff2' );
.font ( 'Anonymous Pro', normal, italic, 'anonymous-pro/anonymous-pro-italic.woff2' );
.font ( 'Anonymous Pro', bold, normal, 'anonymous-pro/anonymous-pro-bold.woff2' );
.font ( 'Anonymous Pro', bold, italic, 'anonymous-pro/anonymous-pro-bold-italic.woff2' );
.font ( 'APL2741', normal, normal, 'apl2741/apl2741.woff2' );
.font ( 'APL385 Unicode', normal, normal, 'apl385/apl385.woff2' );
.font ( 'Aurulent Sans Mono', normal, normal, 'aurulent/aurulent.woff2' );
.font ( 'Average Mono', normal, normal, 'average/average.woff2' );
.font ( 'Average Mono', normal, italic, 'average/average-italic.woff2' );
.font ( 'Average Mono', bold, normal, 'average/average-bold.woff2' );
.font ( 'Average Mono', bold, italic, 'average/average-bold-italic.woff2' );
.font ( 'B612 Mono', normal, normal, 'b612/b612-mono-regular.woff2' );
.font ( 'B612 Mono', normal, italic, 'b612/b612-mono-italic.woff2' );
.font ( 'B612 Mono', bold, normal, 'b612/b612-mono-bold.woff2' );
.font ( 'B612 Mono', bold, italic, 'b612/b612-mono-bold-italic.woff2' );
.font ( 'Bedstead', normal, normal, 'bedstead/bedstead.woff2' );
.font ( 'Bedstead Condensed', normal, normal, 'bedstead/bedstead-condensed.woff2' );
.font ( 'Bedstead Extended', normal, normal, 'bedstead/bedstead-extended.woff2' );
.font ( 'Bedstead Extra Condensed', normal, normal, 'bedstead/bedstead-extracondensed.woff2' );
.font ( 'Bedstead Ultra Condensed', normal, normal, 'bedstead/bedstead-ultracondensed.woff2' );
.font ( 'Bitstream Vera Sans Mono', normal, normal, 'bitstream-vera/bitstream-vera.woff2' );
.font ( 'Bitstream Vera Sans Mono', normal, italic, 'bitstream-vera/bitstream-vera-italic.woff2' );
.font ( 'Bitstream Vera Sans Mono', bold, normal, 'bitstream-vera/bitstream-vera-bold.woff2' );
.font ( 'Bitstream Vera Sans Mono', bold, italic, 'bitstream-vera/bitstream-vera-bold-italic.woff2' );
.font ( 'Borg Sans Mono', normal, normal, 'borg-sans-mono/borg-sans-mono.woff2' );
.font ( 'BPmono', normal, normal, 'bpmono/bpmono.woff2' );
.font ( 'BPmono', normal, italic, 'bpmono/bpmono-italic.woff2' );
.font ( 'BPmono', bold, normal, 'bpmono/bpmono-bold.woff2' );
.font ( 'CamingoCode', normal, normal, 'camingocode/camingocode.woff2' );
.font ( 'CamingoCode', normal, italic, 'camingocode/camingocode-italic.woff2' );
.font ( 'CamingoCode', bold, normal, 'camingocode/camingocode-bold.woff2' );
.font ( 'CamingoCode', bold, italic, 'camingocode/camingocode-bold-italic.woff2' );
.font ( 'Cascadia Code', normal, normal, 'cascadia-code/Cascadia.woff2' );
.font ( 'CatV 6x12 9', normal, normal, 'catv-6x12-9/catv-6x12-9.woff2' );
.font ( 'CMU Typewriter Text', normal, normal, 'cmu-typewriter/cmu-typewriter-text-regular.woff2' );
.font ( 'CMU Typewriter Text', normal, italic, 'cmu-typewriter/cmu-typewriter-text-italic.woff2' );
.font ( 'CMU Typewriter Text', bold, normal, 'cmu-typewriter/cmu-typewriter-text-bold.woff2' );
.font ( 'CMU Typewriter Text', bold, italic, 'cmu-typewriter/cmu-typewriter-text-bold-italic.woff2' );
.font ( 'Code New Roman', normal, normal, 'code-new-roman/code-new-roman.woff2' );
.font ( 'Consolamono', normal, normal, 'consolamono/consolamono.woff2' );
.font ( 'Consolamono', bold, normal, 'consolamono/consolamono-bold.woff2' );
.font ( 'Corbi Mono S', normal, normal, 'corbi-mono-s/corbi-mono-s-regular.woff2' );
.font ( 'Courier Prime', normal, normal, 'courier-prime/courier-prime.woff2' );
.font ( 'Courier Prime', normal, italic, 'courier-prime/courier-prime-italic.woff2' );
.font ( 'Courier Prime', bold, normal, 'courier-prime/courier-prime-bold.woff2' );
.font ( 'Courier Prime', bold, italic, 'courier-prime/courier-prime-bold-italic.woff2' );
.font ( 'Courier Prime Code', normal, normal, 'courier-prime-code/courier-prime-code.woff2' );
.font ( 'Courier Prime Code', normal, italic, 'courier-prime-code/courier-prime-code-italic.woff2' );
.font ( 'Cousine', normal, normal, 'cousine/cousine.woff2' );
.font ( 'Cousine', normal, italic, 'cousine/cousine-italic.woff2' );
.font ( 'Cousine', bold, normal, 'cousine/cousine-bold.woff2' );
.font ( 'Cousine', bold, italic, 'cousine/cousine-bold-italic.woff2' );
.font ( 'Cutive Mono', normal, normal, 'cutive/cutive.woff2' );
.font ( 'DaddyTimeMono', normal, normal, 'daddytimemono/daddytimemono.woff2' );
.font ( 'DejaVu Mono', normal, normal, 'dejavu/dejavu.woff2' );
.font ( 'DejaVu Mono', normal, italic, 'dejavu/dejavu-italic.woff2' );
.font ( 'DejaVu Mono', bold, normal, 'dejavu/dejavu-bold.woff2' );
.font ( 'DejaVu Mono', bold, italic, 'dejavu/dejavu-bold-italic.woff2' );
.font ( 'DejaVu Sans Mono - Bront', normal, normal, 'dejavu-sans-mono-bront/dejavu-sans-mono-bront.woff2' );
.font ( 'Droid Sans Mono', normal, normal, 'droid-sans/droid-sans.woff2' );
.font ( 'Droid Sans Mono Dotted', normal, normal, 'droid-sans-dotted/droid-sans-dotted.woff2' );
.font ( 'Droid Sans Mono Slashed', normal, normal, 'droid-sans-slashed/droid-sans-slashed.woff2' );
.font ( 'Effects Eighty', normal, normal, 'effects-eighty/effects-eighty.woff2' );
.font ( 'Effects Eighty', normal, italic, 'effects-eighty/effects-eighty-italic.woff2' );
.font ( 'Effects Eighty', bold, normal, 'effects-eighty/effects-eighty-bold.woff2' );
.font ( 'Effects Eighty', bold, italic, 'effects-eighty/effects-eighty-bold-italic.woff2' );
.font ( 'Fairfax HD', normal, normal, 'fairfax-hd/fairfax-hd.woff2' );
.font ( 'Fantasque Sans Mono', normal, normal, 'fantasque-sans/fantasque-sans.woff2' );
.font ( 'Fantasque Sans Mono', normal, italic, 'fantasque-sans/fantasque-sans-italic.woff2' );
.font ( 'Fantasque Sans Mono', bold, normal, 'fantasque-sans/fantasque-sans-bold.woff2' );
.font ( 'Fantasque Sans Mono', bold, italic, 'fantasque-sans/fantasque-sans-bold-italic.woff2' );
.font ( 'Fantasque Sans Mono No Loop K', normal, normal, 'fantasque-sans-no-loop-k/fantasque-sans-no-loop-k.woff2' );
.font ( 'Fantasque Sans Mono No Loop K', normal, italic, 'fantasque-sans-no-loop-k/fantasque-sans-no-loop-k-italic.woff2' );
.font ( 'Fantasque Sans Mono No Loop K', bold, normal, 'fantasque-sans-no-loop-k/fantasque-sans-no-loop-k-bold.woff2' );
.font ( 'Fantasque Sans Mono No Loop K', bold, italic, 'fantasque-sans-no-loop-k/fantasque-sans-no-loop-k-bold-italic.woff2' );
.font ( 'Fifteen', normal, normal, 'fifteen/fifteen.woff2' );
.font ( 'FiraCode', normal, normal, 'firacode/FiraCode-Regular.woff2' );
.font ( 'FiraCode', bold, normal, 'firacode/FiraCode-Bold.woff2' );
.font ( 'FiraCode Light', normal, normal, 'firacode/FiraCode-Light.woff2' );
.font ( 'FiraCode Light', bold, normal, 'firacode/FiraCode-Medium.woff2' );
.font ( 'FiraCode Retina', normal, normal, 'firacode/FiraCode-Retina.woff2' );
.font ( 'FiraCode Retina', bold, normal, 'firacode/FiraCode-Bold.woff2' );
.font ( 'Fira Mono', normal, normal, 'fira/fira.woff2' );
.font ( 'Fira Mono', bold, normal, 'fira/fira-bold.woff2' );
.font ( 'Fixedsys', normal, normal, 'fixedsys/fixedsys.woff2' );
.font ( 'Fixedsys Excelsior', normal, normal, 'fixedsys-excelsior/fixedsys-excelsior.woff2' );
.font ( 'Fixedsys Ligatures', normal, normal, 'fixedsys-ligatures/fixedsys-ligatures.woff2' );
.font ( 'Generic Mono', normal, normal, 'generic/generic.woff2' );
.font ( 'GNU Freefont', normal, normal, 'gnu-freefont/gnu-freefont.woff2' );
.font ( 'GNU Freefont', normal, italic, 'gnu-freefont/gnu-freefont-italic.woff2' );
.font ( 'GNU Freefont', bold, normal, 'gnu-freefont/gnu-freefont-bold.woff2' );
.font ( 'GNU Freefont', bold, italic, 'gnu-freefont/gnu-freefont-bold-italic.woff2' );
.font ( 'GNU Unifont', normal, normal, 'unifont/unifont.woff2' );
.font ( 'Gohufont 11', normal, normal, 'gohu/koemaeda/gohufont-uni-11.woff2' );
.font ( 'Gohufont 14', normal, normal, 'gohu/koemaeda/gohufont-uni-14.woff2' );
.font ( 'Go Mono', normal, normal, 'go-mono/go-mono.woff2' );
.font ( 'Go Mono', normal, italic, 'go-mono/go-mono-italic.woff2' );
.font ( 'Go Mono', bold, normal, 'go-mono/go-mono-bold.woff2' );
.font ( 'Go Mono', bold, italic, 'go-mono/go-mono-bold-italic.woff2' );
.font ( 'Hack', normal, normal, 'hack/hack.woff2' );
.font ( 'Hack', normal, italic, 'hack/hack-italic.woff2' );
.font ( 'Hack', bold, normal, 'hack/hack-bold.woff2' );
.font ( 'Hack', bold, italic, 'hack/hack-bold-italic.woff2' );
.font ( 'Hasklig Light', normal, normal, 'hasklig/hasklig-light.woff2' );
.font ( 'Hasklig Light', normal, italic, 'hasklig/hasklig-light-italic.woff2' );
.font ( 'Hasklig Light', bold, normal, 'hasklig/hasklig-semibold.woff2' );
.font ( 'Hasklig Light', bold, italic, 'hasklig/hasklig-semibold-italic.woff2' );
.font ( 'Hasklig', normal, normal, 'hasklig/hasklig.woff2' );
.font ( 'Hasklig', normal, italic, 'hasklig/hasklig-italic.woff2' );
.font ( 'Hasklig', bold, normal, 'hasklig/hasklig-bold.woff2' );
.font ( 'Hasklig', bold, italic, 'hasklig/hasklig-bold-italic.woff2' );
.font ( 'Hasklig Medium', normal, normal, 'hasklig/hasklig-medium.woff2' );
.font ( 'Hasklig Medium', normal, italic, 'hasklig/hasklig-medium-italic.woff2' );
.font ( 'Hasklig Medium', bold, normal, 'hasklig/hasklig-bold.woff2' );
.font ( 'Hasklig Medium', bold, italic, 'hasklig/hasklig-bold-italic.woff2' );
.font ( 'Hermit Light', normal, normal, 'hermit/hermit-light.woff2' );
.font ( 'Hermit Light', bold, normal, 'hermit/hermit-bold.woff2' );
.font ( 'Hermit', normal, normal, 'hermit/hermit.woff2' );
.font ( 'Hermit', bold, normal, 'hermit/hermit-bold.woff2' );
.font ( 'iA Writer Mono S', normal, normal, 'ia-writer-mono/ia-writer-mono-static-regular.woff2' );
.font ( 'iA Writer Mono S', normal, italic, 'ia-writer-mono/ia-writer-mono-static-italic.woff2' );
.font ( 'iA Writer Mono S', bold, normal, 'ia-writer-mono/ia-writer-mono-static-bold.woff2' );
.font ( 'iA Writer Mono S', bold, italic, 'ia-writer-mono/ia-writer-mono-static-bold-italic.woff2' );
.font ( 'IBM 3270', normal, normal, '3270/3270Medium.woff2' );
.font ( 'IBM 3270 Narrow', normal, normal, '3270/3270Narrow.woff2' );
.font ( 'IBM 3270 Semi-Narrow', normal, normal, '3270/3270SemiNarrow.woff2' );
.font ( 'Inconsolata', normal, normal, 'inconsolata/inconsolata.woff2' );
.font ( 'Inconsolata-g', normal, normal, 'inconsolata-g/inconsolata-g.woff2' );
.font ( 'Iosevka Thin', normal, normal, 'iosevka/iosevka-thin.woff2' );
.font ( 'Iosevka Thin', normal, italic, 'iosevka/iosevka-thin-italic.woff2' );
.font ( 'Iosevka Thin', bold, normal, 'iosevka/iosevka-bold.woff2' );
.font ( 'Iosevka Thin', bold, italic, 'iosevka/iosevka-bold-italic.woff2' );
.font ( 'Iosevka Extra Light', normal, normal, 'iosevka/iosevka-extralight.woff2' );
.font ( 'Iosevka Extra Light', normal, italic, 'iosevka/iosevka-extralight-italic.woff2' );
.font ( 'Iosevka Extra Light', bold, normal, 'iosevka/iosevka-bold.woff2' );
.font ( 'Iosevka Extra Light', bold, italic, 'iosevka/iosevka-bold-italic.woff2' );
.font ( 'Iosevka Light', normal, normal, 'iosevka/iosevka-light.woff2' );
.font ( 'Iosevka Light', normal, italic, 'iosevka/iosevka-light-italic.woff2' );
.font ( 'Iosevka Light', bold, normal, 'iosevka/iosevka-bold.woff2' );
.font ( 'Iosevka Light', bold, italic, 'iosevka/iosevka-bold-italic.woff2' );
.font ( 'Iosevka', normal, normal, 'iosevka/iosevka-regular.woff2' );
.font ( 'Iosevka', normal, italic, 'iosevka/iosevka-regular-italic.woff2' );
.font ( 'Iosevka', bold, normal, 'iosevka/iosevka-bold.woff2' );
.font ( 'Iosevka', bold, italic, 'iosevka/iosevka-bold-italic.woff2' );
.font ( 'Iosevka Medium', normal, normal, 'iosevka/iosevka-medium.woff2' );
.font ( 'Iosevka Medium', normal, italic, 'iosevka/iosevka-medium-italic.woff2' );
.font ( 'Iosevka Medium', bold, normal, 'iosevka/iosevka-bold.woff2' );
.font ( 'Iosevka Medium', bold, italic, 'iosevka/iosevka-bold-italic.woff2' );
.font ( 'Kawkab Mono Light', normal, normal, 'kawkab-mono/kawkab-mono-light.woff2' );
.font ( 'Kawkab Mono Light', bold, normal, 'kawkab-mono/kawkab-mono-regular.woff2' );
.font ( 'Kawkab Mono', normal, normal, 'kawkab-mono/kawkab-mono-regular.woff2' );
.font ( 'Kawkab Mono', bold, normal, 'kawkab-mono/kawkab-mono-bold.woff2' );
.font ( 'Latin Modern Mono', normal, normal, 'latin-modern/latin-modern.woff2' );
.font ( 'Latin Modern Mono', normal, italic, 'latin-modern/latin-modern-italic.woff2' );
.font ( 'Latin Modern Mono Light', normal, normal, 'latin-modern-light/latin-modern-light.woff2' );
.font ( 'Latin Modern Mono Light', normal, italic, 'latin-modern-light/latin-modern-light-italic.woff2' );
.font ( 'Latin Modern Mono Light', bold, normal, 'latin-modern-light/latin-modern-light-bold.woff2' );
.font ( 'Latin Modern Mono Light', bold, italic, 'latin-modern-light/latin-modern-light-bold-italic.woff2' );
.font ( 'League', normal, normal, 'league/league.woff2' );
.font ( 'League', bold, normal, 'league/league-bold.woff2' );
.font ( 'Lekton', normal, normal, 'lekton/lekton.woff2' );
.font ( 'Lekton', normal, italic, 'lekton/lekton-italic.woff2' );
.font ( 'Lekton', bold, normal, 'lekton/lekton-bold.woff2' );
.font ( 'Liberation Mono', normal, normal, 'liberation/liberation.woff2' );
.font ( 'Liberation Mono', normal, italic, 'liberation/liberation-italic.woff2' );
.font ( 'Liberation Mono', bold, normal, 'liberation/liberation-bold.woff2' );
.font ( 'Liberation Mono', bold, italic, 'liberation/liberation-bold-italic.woff2' );
.font ( 'Libertinus Mono', normal, normal, 'libertinus-mono/libertinus-mono-regular.woff2' );
.font ( 'Luculent', normal, normal, 'luculent/luculent.woff2' );
.font ( 'Luculent', normal, italic, 'luculent/luculent-italic.woff2' );
.font ( 'Luculent', bold, normal, 'luculent/luculent-bold.woff2' );
.font ( 'Luculent', bold, italic, 'luculent/luculent-bold-italic.woff2' );
.font ( 'Luxi Mono', normal, normal, 'luxi/luxi.woff2' );
.font ( 'Luxi Mono', normal, italic, 'luxi/luxi-italic.woff2' );
.font ( 'Luxi Mono', bold, normal, 'luxi/luxi-bold.woff2' );
.font ( 'Luxi Mono', bold, italic, 'luxi/luxi-bold-italic.woff2' );
.font ( 'M+ Thin', normal, normal, 'mplus/mplus-thin.woff2' );
.font ( 'M+ Thin', bold, normal, 'mplus/mplus-bold.woff2' );
.font ( 'M+ Light', normal, normal, 'mplus/mplus-light.woff2' );
.font ( 'M+ Light', bold, normal, 'mplus/mplus-bold.woff2' );
.font ( 'M+', normal, normal, 'mplus/mplus.woff2' );
.font ( 'M+', bold, normal, 'mplus/mplus-bold.woff2' );
.font ( 'M+ Medium', normal, normal, 'mplus/mplus-medium.woff2' );
.font ( 'M+ Medium', bold, normal, 'mplus/mplus-bold.woff2' );
.font ( 'Meslo', normal, normal, 'meslo/meslo.woff2' );
.font ( 'Meslo', normal, italic, 'meslo/meslo-italic.woff2' );
.font ( 'Meslo', bold, normal, 'meslo/meslo-bold.woff2' );
.font ( 'Meslo', bold, italic, 'meslo/meslo-bold-italic.woff2' );
.font ( 'Meyrin', normal, normal, 'meyrin/meyrin.woff2' );
.font ( 'Monodeco Light', normal, normal, 'monodeco/monodeco-light.woff2' );
.font ( 'Monodeco Light', bold, normal, 'monodeco/monodeco.woff2' );
.font ( 'Monodeco', normal, normal, 'monodeco/monodeco.woff2' );
.font ( 'Monodeco', bold, normal, 'monodeco/monodeco-bold.woff2' );
.font ( 'Monofur', normal, normal, 'monofur/monofur.woff2' );
.font ( 'Monofur', normal, italic, 'monofur/monofur-italic.woff2' );
.font ( 'Monoid', normal, normal, 'monoid/monoid.woff2' );
.font ( 'Monoid', normal, italic, 'monoid/monoid-italic.woff2' );
.font ( 'Monoid', bold, normal, 'monoid/monoid-bold.woff2' );
.font ( 'Mononoki', normal, normal, 'mononoki/mononoki.woff2' );
.font ( 'Mononoki', normal, italic, 'mononoki/mononoki-italic.woff2' );
.font ( 'Mononoki', bold, normal, 'mononoki/mononoki-bold.woff2' );
.font ( 'Mononoki', bold, italic, 'mononoki/mononoki-bold-italic.woff2' );
.font ( 'NotCourierSans', normal, normal, 'notcouriersans/notcouriersans.woff2' );
.font ( 'NotCourierSans', bold, normal, 'notcouriersans/notcouriersans-bold.woff2' );
.font ( 'Noto', normal, normal, 'noto/noto.woff2' );
.font ( 'Nova Mono', normal, normal, 'nova/nova.woff2' );
.font ( 'Office Code Pro Light', normal, normal, 'office-code-pro/office-code-pro-light.woff2' );
.font ( 'Office Code Pro Light', normal, italic, 'office-code-pro/office-code-pro-light-italic.woff2' );
.font ( 'Office Code Pro Light', bold, normal, 'office-code-pro/office-code-pro-medium.woff2' );
.font ( 'Office Code Pro Light', bold, italic, 'office-code-pro/office-code-pro-medium-italic.woff2' );
.font ( 'Office Code Pro', normal, normal, 'office-code-pro/office-code-pro.woff2' );
.font ( 'Office Code Pro', normal, italic, 'office-code-pro/office-code-pro-italic.woff2' );
.font ( 'Office Code Pro', bold, normal, 'office-code-pro/office-code-pro-bold.woff2' );
.font ( 'Office Code Pro', bold, italic, 'office-code-pro/office-code-pro-bold-italic.woff2' );
.font ( 'Office Code Pro Medium', normal, normal, 'office-code-pro/office-code-pro-medium.woff2' );
.font ( 'Office Code Pro Medium', normal, italic, 'office-code-pro/office-code-pro-medium-italic.woff2' );
.font ( 'Office Code Pro Medium', bold, normal, 'office-code-pro/office-code-pro-bold.woff2' );
.font ( 'Office Code Pro Medium', bold, italic, 'office-code-pro/office-code-pro-bold-italic.woff2' );
.font ( 'Office Code Pro D Light', normal, normal, 'office-code-pro-d/OfficeCodeProD-Light.woff2' );
.font ( 'Office Code Pro D Light', normal, italic, 'office-code-pro-d/OfficeCodeProD-LightItalic.woff2' );
.font ( 'Office Code Pro D Light', bold, normal, 'office-code-pro-d/OfficeCodeProD-Medium.woff2' );
.font ( 'Office Code Pro D Light', bold, italic, 'office-code-pro-d/OfficeCodeProD-MediumItalic.woff2' );
.font ( 'Office Code Pro D', normal, normal, 'office-code-pro-d/OfficeCodeProD-Regular.woff2' );
.font ( 'Office Code Pro D', normal, italic, 'office-code-pro-d/OfficeCodeProD-RegularItalic.woff2' );
.font ( 'Office Code Pro D', bold, normal, 'office-code-pro-d/OfficeCodeProD-Bold.woff2' );
.font ( 'Office Code Pro D', bold, italic, 'office-code-pro-d/OfficeCodeProD-BoldItalic.woff2' );
.font ( 'Office Code Pro D Medium', normal, normal, 'office-code-pro-d/OfficeCodeProD-Medium.woff2' );
.font ( 'Office Code Pro D Medium', normal, italic, 'office-code-pro-d/OfficeCodeProD-MediumItalic.woff2' );
.font ( 'Office Code Pro D Medium', bold, normal, 'office-code-pro-d/OfficeCodeProD-Bold.woff2' );
.font ( 'Office Code Pro D Medium', bold, italic, 'office-code-pro-d/OfficeCodeProD-BoldItalic.woff2' );
.font ( 'OpenDyslexicMono', normal, normal, 'opendyslexic-mono/opendyslexic-mono-regular.woff2' );
.font ( 'Overpass Mono', normal, normal, 'overpass/overpass.woff2' );
.font ( 'Overpass Mono', bold, normal, 'overpass/overpass-bold.woff2' );
.font ( 'Oxygen Mono', normal, normal, 'oxygen/oxygen.woff2' );
.font ( 'Plex Mono', normal, normal, 'plex-mono/plex-mono.woff2' );
.font ( 'Plex Mono', normal, italic, 'plex-mono/plex-mono-italic.woff2' );
.font ( 'Plex Mono', bold, normal, 'plex-mono/plex-mono-semibold.woff2' );
.font ( 'Plex Mono', bold, italic, 'plex-mono/plex-mono-semibold-italic.woff2' );
.font ( 'Press Start 2P', normal, normal, 'press-start-2p/press-start-2p-regular.woff2' );
.font ( 'Profont', normal, normal, 'profont/profont.woff2' );
.font ( 'Proggy Clean', normal, normal, 'proggy-clean/proggy-clean.woff2' );
.font ( 'PT Mono', normal, normal, 'pt/pt.woff2' );
.font ( 'Quinze', normal, normal, 'quinze/quinze.woff2' );
.font ( 'Roboto Mono Thin', normal, normal, 'roboto/roboto-thin.woff2' );
.font ( 'Roboto Mono Thin', normal, italic, 'roboto/roboto-thin-italic.woff2' );
.font ( 'Roboto Mono Thin', bold, normal, 'roboto/roboto-medium.woff2' );
.font ( 'Roboto Mono Thin', bold, italic, 'roboto/roboto-medium-italic.woff2' );
.font ( 'Roboto Mono Light', normal, normal, 'roboto/roboto-light.woff2' );
.font ( 'Roboto Mono Light', normal, italic, 'roboto/roboto-light-italic.woff2' );
.font ( 'Roboto Mono Light', bold, normal, 'roboto/roboto-bold.woff2' );
.font ( 'Roboto Mono Light', bold, italic, 'roboto/roboto-bold-italic.woff2' );
.font ( 'Roboto Mono', normal, normal, 'roboto/roboto.woff2' );
.font ( 'Roboto Mono', normal, italic, 'roboto/roboto-italic.woff2' );
.font ( 'Roboto Mono', bold, normal, 'roboto/roboto-bold.woff2' );
.font ( 'Roboto Mono', bold, italic, 'roboto/roboto-bold-italic.woff2' );
.font ( 'Roboto Mono Medium', normal, normal, 'roboto/roboto-medium.woff2' );
.font ( 'Roboto Mono Medium', normal, italic, 'roboto/roboto-medium-italic.woff2' );
.font ( 'Roboto Mono Medium', bold, normal, 'roboto/roboto-bold.woff2' );
.font ( 'Roboto Mono Medium', bold, italic, 'roboto/roboto-bold-italic.woff2' );
.font ( 'saxMono', normal, normal, 'sax/sax.woff2' );
.font ( 'Share Tech Mono', normal, normal, 'share-tech/share-tech.woff2' );
.font ( 'SK Modernist', normal, normal, 'sk-modernist/sk-modernist.woff2' );
.font ( 'Source Code Pro Extra Light', normal, normal, 'source-code-pro/source-code-pro-extralight.woff2' );
.font ( 'Source Code Pro Extra Light', normal, italic, 'source-code-pro/source-code-pro-extralight-italic.woff2' );
.font ( 'Source Code Pro Extra Light', bold, normal, 'source-code-pro/source-code-pro-medium.woff2' );
.font ( 'Source Code Pro Extra Light', bold, italic, 'source-code-pro/source-code-pro-medium-italic.woff2' );
.font ( 'Source Code Pro Light', normal, normal, 'source-code-pro/source-code-pro-light.woff2' );
.font ( 'Source Code Pro Light', normal, italic, 'source-code-pro/source-code-pro-light-italic.woff2' );
.font ( 'Source Code Pro Light', bold, normal, 'source-code-pro/source-code-pro-semibold.woff2' );
.font ( 'Source Code Pro Light', bold, italic, 'source-code-pro/source-code-pro-semibold-italic.woff2' );
.font ( 'Source Code Pro', normal, normal, 'source-code-pro/source-code-pro.woff2' );
.font ( 'Source Code Pro', normal, italic, 'source-code-pro/source-code-pro-italic.woff2' );
.font ( 'Source Code Pro', bold, normal, 'source-code-pro/source-code-pro-bold.woff2' );
.font ( 'Source Code Pro', bold, italic, 'source-code-pro/source-code-pro-bold-italic.woff2' );
.font ( 'Source Code Pro Medium', normal, normal, 'source-code-pro/source-code-pro-medium.woff2' );
.font ( 'Source Code Pro Medium', normal, italic, 'source-code-pro/source-code-pro-medium-italic.woff2' );
.font ( 'Source Code Pro Medium', bold, normal, 'source-code-pro/source-code-pro-black.woff2' );
.font ( 'Source Code Pro Medium', bold, italic, 'source-code-pro/source-code-pro-black-italic.woff2' );
.font ( 'Space Mono', normal, normal, 'space/space.woff2' );
.font ( 'Space Mono', normal, italic, 'space/space-italic.woff2' );
.font ( 'Space Mono', bold, normal, 'space/space-bold.woff2' );
.font ( 'Space Mono', bold, italic, 'space/space-bold-italic.woff2' );
.font ( 'Sudo', normal, normal, 'sudo/sudo.woff2' );
.font ( 'Sudo', normal, italic, 'sudo/sudo-italic.woff2' );
.font ( 'Sudo', bold, normal, 'sudo/sudo-bold.woff2' );
.font ( 'Sudo', bold, italic, 'sudo/sudo-bold-italic.woff2' );
.font ( 'Terminus', normal, normal, 'terminus/terminus.woff2' );
.font ( 'Terminus', normal, italic, 'terminus/terminus-italic.woff2' );
.font ( 'Terminus', bold, normal, 'terminus/terminus-bold.woff2' );
.font ( 'Terminus', bold, italic, 'terminus/terminus-bold-italic.woff2' );
.font ( 'TeX Gyre Cursor', normal, normal, 'tex-gyre-cursor/tex-gyre-cursor.woff2' );
.font ( 'TeX Gyre Cursor', normal, italic, 'tex-gyre-cursor/tex-gyre-cursor-italic.woff2' );
.font ( 'TeX Gyre Cursor', bold, normal, 'tex-gyre-cursor/tex-gyre-cursor-bold.woff2' );
.font ( 'TeX Gyre Cursor', bold, italic, 'tex-gyre-cursor/tex-gyre-cursor-bold-italic.woff2' );
.font ( 'Ubuntu Mono', normal, normal, 'ubuntu/ubuntu.woff2' );
.font ( 'Ubuntu Mono', normal, italic, 'ubuntu/ubuntu-italic.woff2' );
.font ( 'Ubuntu Mono', bold, normal, 'ubuntu/ubuntu-bold.woff2' );
.font ( 'Ubuntu Mono', bold, italic, 'ubuntu/ubuntu-bold-italic.woff2' );
.font ( 'Ubuntu Mono - Bront', normal, normal, 'ubuntu-mono-bront/ubuntu-mono-bront.woff2' );
.font ( 'Verily Serif Mono', normal, normal, 'verily/verily.woff2' );
.font ( 'Victor Mono Italic Thin', normal, normal, 'victor-mono/VictorMono-Thin.woff2' );
.font ( 'Victor Mono Italic Thin', normal, italic, 'victor-mono/VictorMono-ThinItalic.woff2' );
.font ( 'Victor Mono Italic Thin', bold, normal, 'victor-mono/VictorMono-Regular.woff2' );
.font ( 'Victor Mono Italic Thin', bold, italic, 'victor-mono/VictorMono-Italic.woff2' );
.font ( 'Victor Mono Italic Extra Light', normal, normal, 'victor-mono/VictorMono-ExtraLight.woff2' );
.font ( 'Victor Mono Italic Extra Light', normal, italic, 'victor-mono/VictorMono-ExtraLightItalic.woff2' );
.font ( 'Victor Mono Italic Extra Light', bold, normal, 'victor-mono/VictorMono-Medium.woff2' );
.font ( 'Victor Mono Italic Extra Light', bold, italic, 'victor-mono/VictorMono-MediumItalic.woff2' );
.font ( 'Victor Mono Italic Light', normal, normal, 'victor-mono/VictorMono-Light.woff2' );
.font ( 'Victor Mono Italic Light', normal, italic, 'victor-mono/VictorMono-LightItalic.woff2' );
.font ( 'Victor Mono Italic Light', bold, normal, 'victor-mono/VictorMono-SemiBold.woff2' );
.font ( 'Victor Mono Italic Light', bold, italic, 'victor-mono/VictorMono-SemiBoldItalic.woff2' );
.font ( 'Victor Mono Italic', normal, normal, 'victor-mono/VictorMono-Regular.woff2' );
.font ( 'Victor Mono Italic', normal, italic, 'victor-mono/VictorMono-Italic.woff2' );
.font ( 'Victor Mono Italic', bold, normal, 'victor-mono/VictorMono-Bold.woff2' );
.font ( 'Victor Mono Italic', bold, italic, 'victor-mono/VictorMono-BoldItalic.woff2' );
.font ( 'Victor Mono Italic Medium', normal, normal, 'victor-mono/VictorMono-Medium.woff2' );
.font ( 'Victor Mono Italic Medium', normal, italic, 'victor-mono/VictorMono-MediumItalic.woff2' );
.font ( 'Victor Mono Italic Medium', bold, normal, 'victor-mono/VictorMono-Bold.woff2' );
.font ( 'Victor Mono Italic Medium', bold, italic, 'victor-mono/VictorMono-BoldItalic.woff2' );
.font ( 'Victor Mono Italic SemiBold', normal, normal, 'victor-mono/VictorMono-SemiBold.woff2' );
.font ( 'Victor Mono Italic SemiBold', normal, italic, 'victor-mono/VictorMono-SemiBoldItalic.woff2' );
.font ( 'Victor Mono Italic SemiBold', bold, normal, 'victor-mono/VictorMono-Bold.woff2' );
.font ( 'Victor Mono Italic SemiBold', bold, italic, 'victor-mono/VictorMono-BoldItalic.woff2' );
.font ( 'Victor Mono Oblique Thin', normal, normal, 'victor-mono/VictorMono-Thin.woff2' );
.font ( 'Victor Mono Oblique Thin', normal, italic, 'victor-mono/VictorMono-ThinOblique.woff2' );
.font ( 'Victor Mono Oblique Thin', bold, normal, 'victor-mono/VictorMono-Regular.woff2' );
.font ( 'Victor Mono Oblique Thin', bold, italic, 'victor-mono/VictorMono-Oblique.woff2' );
.font ( 'Victor Mono Oblique Extra Light', normal, normal, 'victor-mono/VictorMono-ExtraLight.woff2' );
.font ( 'Victor Mono Oblique Extra Light', normal, italic, 'victor-mono/VictorMono-ExtraLightOblique.woff2' );
.font ( 'Victor Mono Oblique Extra Light', bold, normal, 'victor-mono/VictorMono-Medium.woff2' );
.font ( 'Victor Mono Oblique Extra Light', bold, italic, 'victor-mono/VictorMono-MediumOblique.woff2' );
.font ( 'Victor Mono Oblique Light', normal, normal, 'victor-mono/VictorMono-Light.woff2' );
.font ( 'Victor Mono Oblique Light', normal, italic, 'victor-mono/VictorMono-LightOblique.woff2' );
.font ( 'Victor Mono Oblique Light', bold, normal, 'victor-mono/VictorMono-SemiBold.woff2' );
.font ( 'Victor Mono Oblique Light', bold, italic, 'victor-mono/VictorMono-SemiBoldOblique.woff2' );
.font ( 'Victor Mono Oblique', normal, normal, 'victor-mono/VictorMono-Regular.woff2' );
.font ( 'Victor Mono Oblique', normal, italic, 'victor-mono/VictorMono-Oblique.woff2' );
.font ( 'Victor Mono Oblique', bold, normal, 'victor-mono/VictorMono-Bold.woff2' );
.font ( 'Victor Mono Oblique', bold, italic, 'victor-mono/VictorMono-BoldOblique.woff2' );
.font ( 'Victor Mono Oblique Medium', normal, normal, 'victor-mono/VictorMono-Medium.woff2' );
.font ( 'Victor Mono Oblique Medium', normal, italic, 'victor-mono/VictorMono-MediumOblique.woff2' );
.font ( 'Victor Mono Oblique Medium', bold, normal, 'victor-mono/VictorMono-Bold.woff2' );
.font ( 'Victor Mono Oblique Medium', bold, italic, 'victor-mono/VictorMono-BoldOblique.woff2' );
.font ( 'Victor Mono Oblique SemiBold', normal, normal, 'victor-mono/VictorMono-SemiBold.woff2' );
.font ( 'Victor Mono Oblique SemiBold', normal, italic, 'victor-mono/VictorMono-SemiBoldOblique.woff2' );
.font ( 'Victor Mono Oblique SemiBold', bold, normal, 'victor-mono/VictorMono-Bold.woff2' );
.font ( 'Victor Mono Oblique SemiBold', bold, italic, 'victor-mono/VictorMono-BoldOblique.woff2' );
.font ( 'VT323', normal, normal, 'vt323/vt323.woff2' );
