@root-path: 'atom://fonts/resources';

.font (@name, @weight, @style, @file) {
  @font-face {
    font-family: @name;
    font-weight: @weight;
    font-style: @style;
    src: url('@{root-path}/@{file}');
  }
}
